.cover {
  position: relative;
  height: 60vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image_morgane {
  position: absolute;
  width: 100%;
  object-fit: cover;
}

.description {
  position: relative;
  z-index: 2;
  text-align: center;
  animation: fadeInText 2s ease-out forwards;
}

.portfolio-title {
  font-size: 40px;
  font-weight: bold;
  margin: 0;
  color: #333333;
  animation: fadeSlide 1.5s ease-out forwards;
  animation-delay: 0.5s;
}

.portfolio-subtitle {
  font-size: 20px;
  color: #333333;
  margin-top: 10px;
  animation: fadeSlide 1.5s ease-out forwards;
  animation-delay: 1.5s;
}

.portfolio-text {
  font-size: 10px;
  color: #333333;
  line-height: 1.5;
  margin-top: 10px;
  animation: fadeSlide 1.5s ease-out forwards;
  animation-delay: 2.5s;
}

@keyframes fadeSlide {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeInText {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@media (max-width: 480px) {
  .cover {
    height: 22vh;
  }
  .description {
    margin-right: 80px;
  }
  .portfolio-title {
    font-size: 20px;
  }
  .portfolio-subtitle {
    font-size: 10px;
  }
  .portfolio-text {
    font-size: 7px;
  }
}
