.cover {
  position: relative;
  height: 100vh;
  overflow: hidden;
  display: flex;
  justify-content: center; /* Centre horizontalement */
  align-items: center; /* Centre verticalement */
  padding: 60px;
}

.image_morgane {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.description {
  position: relative;
  z-index: 2; /* Assure que le texte est au-dessus de l'image */
  color: white;
  text-align: center;
  padding: 20px;
  animation: fadeInText 2s ease-out forwards;
}

.portfolio-title {
  font-size: 50px;
  font-weight: bold;
  margin: 0;
  color: #333333;
  animation: fadeSlide 1.5s ease-out forwards;
  animation-delay: 0.5s; /* Délai pour l'apparition du titre */
}

.portfolio-subtitle {
  font-size: 30px;
  color: #333333;
  margin-top: 10px;
  animation: fadeSlide 1.5s ease-out forwards;
  animation-delay: 1.5s; /* Délai pour l'apparition du sous-titre */
}

.portfolio-text {
  font-size: 20px;
  color: #333333;
  line-height: 1.5;
  margin-top: 10px;
  animation: fadeSlide 1.5s ease-out forwards;
  animation-delay: 2.5s; /* Délai pour l'apparition du texte */
}

@keyframes fadeSlide {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeInText {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
