.about-me {
  background-color: #e5dcd3;
  width: 100%;
  text-align: center;
  padding: 60px;
}

.about-me h2 {
  color: #333333;
  margin-bottom: 10px;
  font-size: 30px;
}

.about-me p {
  font-size: 15px;
  color: #fff;
}
