.about-me {
  background-color: #ffd5d9;
  width: 100%;
  text-align: center;
  padding: 60px;
}

.about-me h2 {
  color: #f4a9a8;
  margin-bottom: 10px;
  font-size: 30px;
}

.about-me p {
  font-size: 15px;
  color: #fff;
}
