.contact {
  width: 100%;
  text-align: center;
  padding: 60px;
  background-color: #fcbf82;
}

.contact_phrase {
  text-align: center;
  color: hotpink;
  margin: 45px;
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: 5px;
  font-weight: 700;
}

.contact-form {
  margin-left: 32%;
}

.form-group {
  margin-bottom: 15px;
}

.contact-form label {
  display: flex;
  justify-content: left;
  align-items: center;
  margin-bottom: 5px;
  font-weight: bold;
  color: white;
  font-size: 15px;
}

.contact-form input,
.contact-form textarea {
  width: 52%;
  padding: 7px;
  border: none;
  border-radius: 5px;
  resize: vertical;
  outline: none;
  display: block;
}
.contact-form textarea {
  padding-top: 20px;
  height: 80px;
}

.contact-form input:focus,
.contact-form textarea:focus {
  outline: 2px solid yellow;
}

.contact-form button {
  width: 54%;
  padding: 7px;
  border: none;
  background-color: hotpink;
  color: white;
  font-size: 15px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  font-weight: bold;
  display: block;
}

.contact-form button:hover {
  background-color: yellow;
}
