.cover {
  width: 100%;
  text-align: center;
  padding: 60px;
  background: linear-gradient(180deg, #fed0e4, #fcbf82);
}

.gif-photo {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 80px;
}
.gif-morgane,
.photo-morgane {
  max-width: 100%; /* Ajuste les tailles des images si nécessaire */
  height: auto;
}
.gif_morgane {
  margin-right: 45px;
  mix-blend-mode: multiply;
}

.photo_morgane {
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  margin-left: 90px;
  position: relative;
}

.description {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
  background: radial-gradient(
    circle at 1.2% 5.3%,
    rgb(255, 85, 166) 0%,
    rgb(255, 154, 98) 100.2%
  );
  opacity: 0.6;
  padding: 60px;
  position: absolute;
  bottom: 40px;
  margin-left: 780px;
}

.portfolio-title {
  font-size: 30px;
  font-weight: bold;
  margin: 0;
  color: white;
  transform: translateY(20px);
  animation: fadeSlide 1s ease-out forwards;
}

@keyframes fadeSlide {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.portfolio-subtitle {
  font-size: 16px;
  color: white;
  margin-top: 10px;
}
.portfolio-text {
  font-size: 14px;
  color: white;
  line-height: 1.5;
  margin-top: 10px;
}

.dots {
  position: absolute;
  right: 110px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.dot {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  animation: pulse 1s infinite ease-in-out;
}
.dot1 {
  background-color: #e97aa2;
  animation-delay: 0s;
}

.dot2 {
  background-color: #ffd5d9;
  animation-delay: 0.2s;
}

.dot3 {
  background-color: #fcbf82;
  animation-delay: 0.4s;
}

.dot4 {
  background-color: #f4a9a8;
  animation-delay: 0.6s;
}

.dot5 {
  background-color: #9ad0e8;
  animation-delay: 0.8s;
}

/* Animation de "pulse" pour un effet de rebond ou de changement de taille */
@keyframes pulse {
  0%,
  100% {
    transform: scale(1);
    opacity: 0.8;
  }
  50% {
    transform: scale(1.5);
    opacity: 1;
  }
}
