.portfolio_header {
  display: flex;
  justify-content: space-between;
  padding: 15px;
}

.logo_morgane {
  height: 68px;
  width: 210px;
  mix-blend-mode: multiply;
}
.nav-links {
  display: flex;
  gap: 20px;
  width: 45%;
}

.nav-links a {
  color: pink;
  text-decoration: none;
  font-size: 20px;
  position: relative;
  line-height: 34px;
  transition: color 0.3s ease;
}

.nav-links a:hover {
  color: yellow; /* Couleur de survol */
}
