.portfolio_header h1 {
  display: none;
}

.portfolio_header {
  height: 100px;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  align-items: center; /* Centre verticalement */
  background-color: #f0e6de;
}

.logo_morgane {
  height: 68px;
  width: 210px;
  mix-blend-mode: multiply;
}

.nav-links {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin-right: 30px;
  cursor: pointer;
}

/* Style de l'icône Hamburger */
.menu-toggle {
  display: none;
  flex-direction: column;
  cursor: pointer;
  z-index: 2; /* Priorité plus élevée pour que l'icône hamburger soit cliquable */
}

.menu-toggle .bar {
  width: 25px;
  height: 3px;
  background-color: #faf7f4;
  margin: 5px 0;
}

.back-to-top {
  position: fixed;
  bottom: 30px;
  right: 30px;
  background-color: #e5dcd3;
  color: #333333;
  border-radius: 10px;
  padding: 10px;
  cursor: pointer;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease, visibility 0.3s ease;
  font-size: 24px;
  z-index: 1000;
}

.back-to-top.visible {
  opacity: 1;
  visibility: visible;
}
@media (max-width: 768px) {
  .menu-toggle {
    display: flex;
    margin: 40px;
  }
  .nav-links {
    display: none; /* Cache les liens sur mobile et tablette */
    width: 100%;
    flex-direction: column;
    background-color: #faf7f4;
    position: absolute;
    top: 100px; /* Ajustez selon la hauteur de votre header */
    left: 0;
    padding: 10px 0;
    z-index: 1000; /* Pour être au-dessus des autres éléments */
    opacity: 0; /* Masqué par défaut */
    visibility: hidden; /* Masqué par défaut */
    transition: opacity 0.3s ease, visibility 0s 0.3s; /* Transition fluide */
  }

  /* Quand le menu est ouvert, la classe 'open' s'ajoute, et le menu devient visible */
  .nav-links.open {
    display: flex; /* Affiche les liens de navigation lorsqu'ils sont ouverts */
    opacity: 1; /* Rendre visible */
    visibility: visible; /* Assurer la visibilité */
    transition: opacity 0.3s ease, visibility 0s 0s; /* Transition fluide */
  }
  .nav-links a,
  span {
    margin: 10px 0;
    text-align: center;
    color: #333333;
  }
}
