.portfolio_header {
  width: 100%;
  display: flex;
  justify-content: space-between; /* Aligne les éléments aux extrémités */
  align-items: center;
  padding: 20px;
  top: 0;
}

.logo_morgane {
  width: 15%;
  height: 60px;
  float: left;
  mix-blend-mode: multiply;
  cursor: pointer;
}
.nav-links {
  display: flex;
  gap: 20px;
  width: 47%;
}

.nav-links a {
  color: pink;
  text-decoration: none;
  font-size: 20px;
  transition: color 0.3s ease;
}

.nav-links a:hover {
  color: yellow; /* Couleur de survol */
}
