.footer {
  background-color: #d9c8b8;
  text-align: center;
  padding-bottom: 15px;
  padding: 60px;
}

.social-links {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  gap: 20px;
}

.footer p {
  margin-top: 10px;
  font-size: 18px;
  color: #333333;
}
.social-links a {
  color: #333333;
  font-size: 30px;
  transition: color 0.3s ease;
}

.social-links a:hover {
  color: #faf7f4;
}
