.footer {
  background-color: #d9c8b8;
  text-align: center;
  padding-bottom: 15px;
  padding: 60px;
}

.social-links {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  gap: 20px; /* Espacement entre les icônes */
}

.footer p {
  margin-top: 10px;
  font-size: 14px;
  color: white;
}
.social-links a {
  color: white; /* Couleur par défaut des icônes */
  font-size: 30px; /* Taille des icônes */
  transition: color 0.3s ease;
}

.social-links a:hover {
  color: #333333; /* Couleur au survol */
}
